#Database and SQL Final Project (Part 3)

##Name: **Miles Brown**

**Make sure to "save" a copy of this file to your own account.**
**NOTE: Please include ALL of the parts of your final project (1, 2, and 3) for this submission, as this will be the last lab!**.

Exam 3 for the course will take the form of a “final project” where you will take a set of business rules (which you can find  below). and do the following.


1.	Formulate business rules
2.	Construct an ERD from a set of business rules
3.	Specify the relational schema
4.	Discuss whether this schema meets the 1N, 2N, and 3N normal forms
5.	Create the tables using SQL queries
6.	Run sample SQL queries that demonstrate your ability to
  
  a.	Create table with primary keys and multiple data types

  b.	Join tables with foreign keys

  c.	Insert sample data into tables

  d.	Update existing data in the table

  e.	Delete data from the table
7.	Run sample SQL queries that demonstrate your ability to do the following:

  a.	Simple single table queries

  b.	Single-table queries with WHERE and LIKE

  c.	Single-table queries with aggregate functions

  d.	Single table queries with GROUP BY

  e.	Single-table queries with HAVING

  f.	Subqueries

  g.	Simple multi-table queries with JOIN

  h.	More complex multi-table queries

  i.	The creation of table views
  
  j.	The creation of indexes
8.	Discuss your process of database design and implementation using the Software Development LifeCycle Model 
9.	Do something unique! You could do ONE of the following, or something else:

  a.	Build some indexes and analyze query performance

  b.	Figure out how to add a JSON column, and insert data

  c.	Write a PL/SQL functions or trigger and show how to use it

  d.	Expand the data model to include subtypes and supertypes

  e.	Let your creativity shine!
10.	Save this project as a portfolio-quality work to Github, which you can then share with me (and with future employers, if you would like).
The overall project is worth 100 points. We’ll be working on pieces of this for each of our “labs” from now until the end of the semester.


**Other Guidelines** Here are the guidelines for working on the project:

1. Each week, you should share your project with me to show me how you're doing. If you complete the required steps for that week, you'll receive full credit for the lab.
2. You are welcome to discuss your project with either me or your peers. However, your final work (for example, the ER diagram,  SQL code, etc.) should represent your *own* response. 
3. Each "step" in the lab will be worth ten points total (for a total of 100 points).

#Load Postgres (Run This Cell)

In [ ]:
# Some UNIX utilites we need to install for the lab.
!pip install wget --quiet
!pip install sqlalchemy --quiet
!pip install ipython-sql --quiet

# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!pip install pgspecial --quiet

!sudo service postgresql start


# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

# Setup a postgres database with name `my_data` to be used
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS my_data;'

!sudo -u postgres psql -U postgres -c 'CREATE DATABASE my_data;'

# Postgres variables
%env DB_NAME=my_data
%env DB_HOST=localhost
%env DB_PORT=5432
%env DB_USER=postgres
%env DB_PASS=postgres

# Finally, let's make a connnection with the databse
%load_ext sql
%sql postgresql://$DB_USER:$DB_PASS@$DB_HOST/$DB_NAME

 * Starting PostgreSQL 10 database server
   ...done.
ALTER ROLE
ERROR:  database "my_data" is being accessed by other users
DETAIL:  There are 3 other sessions using the database.
ERROR:  database "my_data" already exists
env: DB_NAME=my_data
env: DB_HOST=localhost
env: DB_PORT=5432
env: DB_USER=postgres
env: DB_PASS=postgres
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: postgres@my_data'

#Part 1: Scenario Analysis and Business Rule Formulation
For the project, you’ll be creating a mock database for “Monster University,” a school that takes young monsters (dragons, werewolves, cute “ET” style aliens, vampires, ogres, talking apes, robot assassins, and basically anything else you want) and teaches them to be upstanding members of the monster community. The professors are ALSO monsters. Here are the business rules you’ll need to get started:

1.	Your main goal is to represent the Monsters, Classes, and Locations (buildings/rooms) at the school.
2.	Monsters can either teach classes, take classes, or both.
3.	For all Monsters we need to keep track of their 

  a.	name

  b.	species (what kind of monster are they?)

  c.	date of birth

  d.	their diet, if known (herbivore, carnivore, omnivore, “brains”, “electricity”, etc.)

  e. their GPA (between 0 and 4.0)

  f. the number of credits completed.

4.	For classes, we’d like to track the following:

  a.	The title of the class

  b.	The location in which the class is held

  c.	The duration of the class in minutes (between 30 and 180)

  d.  The days on which the class meets (for example "MWF" or "TH").

  e.  The start time of the class 
  
  f.  The instructor of the class (who is a Monster)

  
5. For locations we want to record:

  a. A two-character building code (e.g., "MH" for Memorial Hall).

  b. The room number between 1 and 2000.

  c. The max capacity between 10 and 300.

6. Some Monsters are Alumni, who have graduated from the school. For alumni we also want to record:

  a. the year they graduated, and
  
  b. their degree (computer science, business, English, etc.).

7.	Formulate THREE additional business rules of your choice. Remember, you’ll eventually need to implement these! At least ONE of these rules should involve a new entity, relationship, and/or constraint (as opposed to simply a new attribute).

##Your New Business Rules Here:
1. Each class has it's own unique amount of credits that you can earn from it.

2. We want to know if a monster is capable of playing an instrument or not. The Instruments table has an ID, name, and type (wind, string, etc.). We also want to track when they started playing it.

3. We want to track each monsters favorite music genre to listen to (FMGenere).

#Part 2: Conceptual Modeling using Entity-Relationship Diagramming
In this step, I'd like to create an ERD for the business rules above using [Diagrams.net](https://diagrams.net). You should include all entities, attributes, relationships, and cardinalilities. After you have completed this diagram, you should do the following:

1. Export it as "SVG" file in diagrams.net, and save this to your computer.
2. Edit this cell, and select the "Insert Image" button.
3. Select the SVG file you download.
4. NOTE: SVG files will work much better than larger image files (which may cause problems if you try to insert them).

INSERT SVG FILE HERE.![monster.drawio (2).drawio (1).drawio.svg]()

#Part 3: Logical Modeling
In this part, I'd like you to map the E-R model you've created to a relational model. This involves creating a relational scheme like the following:


```
Monsters(Monster_ID (PK), Name, Species, DOB, Diet, FMGenre);
Locations(Location_ID (PK), Room_Name, Room_Number, Building_Code, Capacity);
Instruments(Instrument_ID (PK), Name, Type);
Classes(Class_ID (PK), Title, Location_ID (FK), Duration, Days, Start_Time, Credits, Instructor_ID (FK));

Students(Monster_ID (PK), Name, Species, DOB, Diet, FMGenre, Credits_Earned, GPA);
Alumni(Monster_ID (PK), Name, Species, DOB, Diet, FMGenre, Credits_Earned, GPA, Graduate_Year, Degree);

Plays(Instrument_ID (PK/FK), Monster_ID (PK/FK), Starting_Date);
Enrolled(Monster_ID (PK/FK), Class_ID (PK/FK));

```
You should indicate any **primary keys** by using (PK) and any foreign keys with (FK). For primary keys, you'll need to think about whether you can/should use attributes included in the ER diagram, or whether you might want to to create new attributes to serve as keys.

I recommend creating entities in this order:
1. One table for each "strong" entity in the E-R diagram. Decide on a primary key.
2. Tables for subtypes, if needed.
3. One table for each "weak" entity (besides subtypes) in the E-R diagram. Decide on appropriate primary and foreign keys.
4. Tables needed to model M:N relationships present in the E-R diagram.

#Part 4: Normalization
Are your relations normalized? Please provide a 2-3 sentence explanation of why/how they meet the following normal forms. Or, if they don't, describe what needs to be done to change them.

1. **First Normal Form.** 
        My ERD is already in 1NF because there are no repeating groups
        and each row in the table is guaranteed to be unique. Initially
        most of the tables did not have suitable primary keys so I ended
        up having to make my own. There could have been an issue with
        repeating groups if I did not create a bridge entity between the
        Monsters and Classes tables. That bridge entity allows for a
        monster to be enrolled in multiple classes so there is no need 
        for an attribute to have more than one value in it.
2. **Second Normal Form.**
        My ERD is in 2NF because it is already in 1NF and I made sure that
        the whole key is necessary to determine the attibutes in the row.
        All the tables initially had only one primary key (the bridge
        entities have a composite key but those are required for the
        bridge to work) so this step is already done.
3. **Third Normal Form.** 
        My ERD is in 3NF because it satisfies all the previous forms and
        has no transitive dependencies. Every attribute is determined on
        the primary key and nothing else. Initially there were none of 
        these dependencies present so this step is done. Once I got the
        diagram to be in 1NF the following forms where already there.

#Part 5: Creating Tables
In this part, you'll be creating the tables to store the data about your monstrous students. This involves "mapping" the relational schema to an actual Postgres Databases. Here's what you need to do:

1. CREATE a SQL table for each of the relations you identied in part 4.
2. Make sure all the attribututes are assigned appropriate data types. For example, INTEGER, VARCHAR, or DATE.
3.  Assign appropriate primary keys and foreign keys.

In the starter code below, I've assumed you'll have tables along the line of the following. However, you should feel free to rename, add, or delete tables as needed!

a. Monsters

b. Classes

c. Locations

d. Monsters2Classes

e. Alumni

In [ ]:
%%sql 
--If you make mistakes you might need to drop tables and start again

DROP TABLE IF EXISTS Monsters CASCADE;
DROP TABLE IF EXISTS Classes CASCADE;
DROP TABLE IF EXISTS Locations CASCADE;
DROP TABLE IF EXISTS Instruments CASCADE;
DROP TABLE IF EXISTS Alumni CASCADE;
DROP TABLE IF EXISTS Students CASCADE;
DROP TABLE IF EXISTS Plays CASCADE;
DROP TABLE IF EXISTS Enrolled CASCADE;

 * postgresql://postgres:***@localhost/my_data
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql

CREATE TABLE Monsters(
  Monster_ID INTEGER PRIMARY KEY CHECK(Monster_ID >= 0),
  Name VARCHAR(30),
  DOB DATE NOT NULL CHECK(DOB < NOW()),
  Species VARCHAR(15),
  Diet VARCHAR(15),
  FMGenre VARCHAR(15)
);

CREATE TABLE Locations(
   Location_ID INTEGER PRIMARY KEY CHECK(Location_ID >= 0),
   Room_Number INTEGER CHECK(Room_Number BETWEEN 1 and 2000),
   Building_Code CHAR(2),
   Room_Name VARCHAR(35),
   Capacity INTEGER CHECK(Capacity BETWEEN 10 AND 300)
);

CREATE TABLE Instruments(
   Instrument_ID INTEGER PRIMARY KEY CHECK(Instrument_ID >= 0),
   Name VARCHAR(20),
   Type VARCHAR(15)
);

CREATE TABLE Classes(
   Class_ID INTEGER PRIMARY KEY CHECK(Class_ID >= 0),
   Title VARCHAR(50),
   Location_ID INTEGER CHECK(Location_ID >= 0),
   Days VARCHAR(5),
   Duration INTEGER CHECK(Duration BETWEEN 30 AND 180),
   Starting_Time NUMERIC(4,2) CHECK(Starting_Time BETWEEN 0 AND 24),
   Credits INTEGER CHECK(Credits BETWEEN 1 AND 5),
   Instructor_ID INTEGER CHECK(Instructor_ID >= 0),

   FOREIGN KEY (Location_ID) REFERENCES Locations(Location_ID),
   FOREIGN KEY (Instructor_ID) REFERENCES Monsters(Monster_ID)
);

CREATE TABLE Students(
  Monster_ID INTEGER PRIMARY KEY CHECK(Monster_ID >= 0),
  Credits_Earned INTEGER CHECK(Credits_Earned >= 0),
  GPA DECIMAL(2,1) CHECK(GPA BETWEEN 0 AND 4),

  FOREIGN KEY (Monster_ID) REFERENCES Monsters(Monster_ID)
);

CREATE TABLE Alumni(
  Monster_ID INTEGER PRIMARY KEY CHECK(Monster_ID >= 0),
  Graduate_Year DATE NOT NULL CHECK(Graduate_Year < NOW()),
  Degree VARCHAR(20),

  FOREIGN KEY (Monster_ID) REFERENCES Students(Monster_ID)
);

CREATE TABLE Plays(
  Instrument_ID INTEGER CHECK(Instrument_ID >= 0),
  Monster_ID INTEGER CHECK(Monster_ID >= 0),
  Starting_Date DATE CHECK(Starting_Date < NOW()),

  PRIMARY KEY (Instrument_ID, Monster_ID),
  FOREIGN KEY (Instrument_ID) REFERENCES Instruments(Instrument_ID),
  FOREIGN KEY (Monster_ID) REFERENCES Monsters(Monster_ID)
);

CREATE TABLE ENROLLED(
  Class_ID INTEGER CHECK(Class_ID >= 0),
  Monster_ID INTEGER CHECK(Monster_ID >= 0),

  PRIMARY KEY (Class_ID, Monster_ID),
  FOREIGN KEY (Class_ID) REFERENCES Classes(Class_ID),
  FOREIGN KEY (Monster_ID) REFERENCES Students(Monster_ID)
);

 * postgresql://postgres:***@localhost/my_data
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

#Part 6: Retrieving, Updating, and Deleting Data
In this part, you'll be inserting some data about Monsters, Classes, and Locations.

##6b. Inserting Data
Here are five monsters to insert your database:

1. Cookie Monster (unknown species) was born on Nov 10, 1969. His eats only cookies. He has 3.2 GPA and has completed 76 credits.
2. Marceline (vampire) was born in Feb 3, 1056. She eats "the color red". She is a teacher with a 0.0 GPA and 0 credits completed.
3. Chewbacca (wookie) was born on May 25, 1977. He is an omnivore. He has a 2.6 GPA and has completed 24 credits.
4. Dracula (vampire) was born on Aug 15, 1543. He drinks blood. He has a 4.0 GPA with 112 credits completed. He also teachers classes.
5. Maleficient (dragon) was born on Oct 26, 1856. She is a carnviore. She has a 3.8 GPA with 63 credits completed.
6. Insert at least FOUR more monsters of your choice. At least two of these should have the same species.

Now, show the data in the table.

Here are three locations to insert into your database:
1. CL 101 ("Castle level 1, room 1") holds 100 people.
2. CL 503 ("Castle level 5, room 3") holds 34 people.
3. MU 220 ("Monster Union room 220") holds 12 people.
4. Insert at least TWO more locations into your database. Both should be in the same building. 

Now, show the data in the table.


Here are two classes to insert into your database:
1. Marceline teaches Intro to Guitar on TH from 2 PM to 4 PM in MU 220.
2. Dracula teaches Monster First Aid on MWF from 9 PM to 10 PM in CL 503.
2. Insert at least ONE more class.

Now, show the data in the table.


"ENROLL" some students in your classes.
1. Cookie Monster, Chewbacca, and Maleficient (and perhaps some of the students you added) will take Monster First Aid.
2. Chewbacca and Malificient (and perhaps some of the students you added) will take Intro to Guitar.
3. Enroll some students in your own class!
Now, show the data in the table.


Finally, insert data for at least ONE alumni, and show the results.

In [ ]:
%%sql

INSERT INTO Monsters(Monster_ID, Name, DOB, Species, Diet, FMGenre)
 VALUES(515, 'Cookie Monster', '1969-11-10', NULL, 'Cookies', 'Pop');
INSERT INTO Students(Monster_ID, Credits_Earned, GPA)
 VALUES(515, 76, 3.2);

INSERT INTO Monsters(Monster_ID, Name, DOB, Species, Diet, FMGenre)
 VALUES(504, 'Marceline', '1056-2-3', 'Vampire', 'Color Red', 'Metal');

INSERT INTO Monsters(Monster_ID, Name, DOB, Species, Diet, FMGenre) 
 VALUES(543, 'Chewbacca', '1977-5-25', 'Wookie', 'Omnivore', 'Jazz');
INSERT INTO Students(Monster_ID, Credits_Earned, GPA)
 VALUES(543, 24, 2.6);

INSERT INTO Monsters(Monster_ID, Name, DOB, Species, Diet, FMGenre)
 VALUES(555, 'Dracula', '1543-8-15', 'Vampire', 'Blood', 'Classical');
INSERT INTO Students(Monster_ID, Credits_Earned, GPA)
 VALUES(555, 112, 4.0);
 
INSERT INTO Monsters(Monster_ID, Name, DOB, Species, Diet, FMGenre)
 VALUES(516, 'Maleficient', '1856-10-26', 'Dragon', 'Carnivore', 'Gothic');
INSERT INTO Students(Monster_ID, Credits_Earned, GPA)
 VALUES(516, 63, 3.8);

INSERT INTO Monsters(Monster_ID, Name, DOB, Species, Diet, FMGenre)
 VALUES(532, 'Mike Wazowski', '1994-6-11', NULL, 'Omnivore', 'Rock');
INSERT INTO Students(Monster_ID, Credits_Earned, GPA)
 VALUES(532, 112, 3.9);
INSERT INTO Alumni(Monster_ID, Graduate_Year, Degree)
 VALUES(532, '2012-5-11', 'Scaring');

INSERT INTO Monsters(Monster_ID, Name, DOB, Species, Diet, FMGenre)
 VALUES(666, 'Michael Morbius', '1971-4-1', 'Vampire', 'Blood', 'Morbius OST');

INSERT INTO Monsters(Monster_ID, Name, DOB, Species, Diet, FMGenre)
 VALUES(618, 'Tatsu', '2002-4-29', 'Nopon', 'Potatoes', 'K-Pop');
INSERT INTO Students(Monster_ID, Credits_Earned, GPA)
 VALUES(618, 12, 1.6);

INSERT INTO Monsters(Monster_ID, Name, DOB, Species, Diet, FMGenre)
 VALUES(609, 'Alucard', '1596-9-13', 'Vampire', 'Blood', 'Gothic');
INSERT INTO Students(Monster_ID, Credits_Earned, GPA)
 VALUES(609, 112, 4.0);
INSERT INTO Alumni(Monster_ID, Graduate_Year, Degree)
 VALUES(609, '1653-5-11', 'Soul Collecting');

SELECT * FROM Monsters

 * postgresql://postgres:***@localhost/my_data
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
9 rows affected.

[(515, 'Cookie Monster', datetime.date(1969, 11, 10), None, 'Cookies', 'Pop'),
 (504, 'Marceline', datetime.date(1056, 2, 3), 'Vampire', 'Color Red', 'Metal'),
 (543, 'Chewbacca', datetime.date(1977, 5, 25), 'Wookie', 'Omnivore', 'Jazz'),
 (555, 'Dracula', datetime.date(1543, 8, 15), 'Vampire', 'Blood', 'Classical'),
 (516, 'Maleficient', datetime.date(1856, 10, 26), 'Dragon', 'Carnivore', 'Gothic'),
 (532, 'Mike Wazowski', datetime.date(1994, 6, 11), None, 'Omnivore', 'Rock'),
 (666, 'Michael Morbius', datetime.date(1971, 4, 1), 'Vampire', 'Blood', 'Morbius OST'),
 (618, 'Tatsu', datetime.date(2002, 4, 29), 'Nopon', 'Potatoes', 'K-Pop'),
 (609, 'Alucard', datetime.date(1596, 9, 13), 'Vampire', 'Blood', 'Gothic')]

In [ ]:
%%sql
--print for only students
SELECT * FROM Monsters
NATURAL JOIN STUDENTS;

 * postgresql://postgres:***@localhost/my_data
7 rows affected.

[(515, 'Cookie Monster', datetime.date(1969, 11, 10), None, 'Cookies', 'Pop', 76, Decimal('3.2')),
 (543, 'Chewbacca', datetime.date(1977, 5, 25), 'Wookie', 'Omnivore', 'Jazz', 24, Decimal('2.6')),
 (555, 'Dracula', datetime.date(1543, 8, 15), 'Vampire', 'Blood', 'Classical', 112, Decimal('4.0')),
 (516, 'Maleficient', datetime.date(1856, 10, 26), 'Dragon', 'Carnivore', 'Gothic', 63, Decimal('3.8')),
 (532, 'Mike Wazowski', datetime.date(1994, 6, 11), None, 'Omnivore', 'Rock', 112, Decimal('3.9')),
 (618, 'Tatsu', datetime.date(2002, 4, 29), 'Nopon', 'Potatoes', 'K-Pop', 12, Decimal('1.6')),
 (609, 'Alucard', datetime.date(1596, 9, 13), 'Vampire', 'Blood', 'Gothic', 112, Decimal('4.0'))]

In [ ]:
%%sql
--print for only alumni's
SELECT * FROM Monsters
NATURAL JOIN STUDENTS
NATURAL JOIN Alumni;

 * postgresql://postgres:***@localhost/my_data
2 rows affected.

[(532, 'Mike Wazowski', datetime.date(1994, 6, 11), None, 'Omnivore', 'Rock', 112, Decimal('3.9'), datetime.date(2012, 5, 11), 'Scaring'),
 (609, 'Alucard', datetime.date(1596, 9, 13), 'Vampire', 'Blood', 'Gothic', 112, Decimal('4.0'), datetime.date(1653, 5, 11), 'Soul Collecting')]

In [ ]:
%%sql

INSERT INTO Locations(Location_ID, Room_Number, Building_Code, Room_Name, Capacity)
 VALUES(1, 101, 'CL', 'Castle Level 1, Room 1', 100);

INSERT INTO Locations(Location_ID, Room_Number, Building_Code, Room_Name, Capacity)
 VALUES(2, 503, 'CL', 'Castle Level 5, Room 3', 34);

INSERT INTO Locations(Location_ID, Room_Number, Building_Code, Room_Name, Capacity)
 VALUES(3, 220, 'MU', 'Monster Union, Room 220', 12);

INSERT INTO Locations(Location_ID, Room_Number, Building_Code, Room_Name, Capacity)
 VALUES(4, 334, 'DS', 'Death Star, Room 334', 75);

INSERT INTO Locations(Location_ID, Room_Number, Building_Code, Room_Name, Capacity)
 VALUES(5, 367, 'DS', 'Death Star, Room 367', 50);

 SELECT * FROM Locations;

 * postgresql://postgres:***@localhost/my_data
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
5 rows affected.

[(1, 101, 'CL', 'Castle Level 1, Room 1', 100),
 (2, 503, 'CL', 'Castle Level 5, Room 3', 34),
 (3, 220, 'MU', 'Monster Union, Room 220', 12),
 (4, 334, 'DS', 'Death Star, Room 334', 75),
 (5, 367, 'DS', 'Death Star, Room 367', 50)]

In [ ]:
%%sql

INSERT INTO Classes (Class_ID, Title, Location_ID, Days, Duration, Starting_Time, Credits, Instructor_ID)
 VALUES(23, 'Intro to Guitar', 3, 'TH', 120, 14.00, 3, 504);

INSERT INTO Classes (Class_ID, Title, Location_ID, Days, Duration, Starting_Time, Credits, Instructor_ID)
 VALUES(16, 'Monster First Aid', 2, 'MWF', 80, 21.00, 2, 555);

INSERT INTO Classes (Class_ID, Title, Location_ID, Days, Duration, Starting_Time, Credits, Instructor_ID)
 VALUES(1, 'How to Sell One Trillion Movie Tickets', 4, 'MWF', 120, 8.00, 5, 666);

 SELECT * FROM CLASSES

 * postgresql://postgres:***@localhost/my_data
1 rows affected.
1 rows affected.
1 rows affected.
3 rows affected.

[(23, 'Intro to Guitar', 3, 'TH', 120, Decimal('14.00'), 3, 504),
 (16, 'Monster First Aid', 2, 'MWF', 80, Decimal('21.00'), 2, 555),
 (1, 'How to Sell One Trillion Movie Tickets', 4, 'MWF', 120, Decimal('8.00'), 5, 666)]

In [ ]:
%%sql

INSERT INTO Instruments (Instrument_ID, Name, Type)
 VALUES (34, 'Guitar', 'String');

INSERT INTO Instruments (Instrument_ID, Name, Type)
 VALUES (12, 'Bass', 'String');

INSERT INTO Instruments (Instrument_ID, Name, Type)
 VALUES (26, 'Drums', 'Percussion');

INSERT INTO Instruments (Instrument_ID, Name, Type)
 VALUES (6, 'Piano', 'Percussion');

INSERT INTO Instruments (Instrument_ID, Name, Type)
 VALUES (29, 'Violin', 'String');

INSERT INTO Instruments (Instrument_ID, Name, Type)
 VALUES (15, 'Flute', 'Wind');

SELECT * FROM Instruments;

 * postgresql://postgres:***@localhost/my_data
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
6 rows affected.

[(34, 'Guitar', 'String'),
 (12, 'Bass', 'String'),
 (26, 'Drums', 'Percussion'),
 (6, 'Piano', 'Percussion'),
 (29, 'Violin', 'String'),
 (15, 'Flute', 'Wind')]

In [ ]:
%%sql

INSERT INTO Enrolled(Class_ID, Monster_ID)
 VALUES(16, 515);
INSERT INTO Enrolled(Class_ID, Monster_ID)
 VALUES(16, 543);
INSERT INTO Enrolled(Class_ID, Monster_ID)
 VALUES(16, 516);

INSERT INTO Enrolled(Class_ID, Monster_ID)
 VALUES(23, 543);
INSERT INTO Enrolled(Class_ID, Monster_ID)
 VALUES(23, 516);
INSERT INTO Enrolled(Class_ID, Monster_ID)
 VALUES(23, 618);

INSERT INTO Enrolled(Class_ID, Monster_ID)
 VALUES(1, 515);
INSERT INTO Enrolled(Class_ID, Monster_ID)
 VALUES(1, 543);
INSERT INTO Enrolled(Class_ID, Monster_ID)
 VALUES(1, 555);
INSERT INTO Enrolled(Class_ID, Monster_ID)
 VALUES(1, 516);
INSERT INTO Enrolled(Class_ID, Monster_ID)
 VALUES(1, 618);

SELECT * FROM ENROLLED
NATURAL JOIN Monsters
NATURAL JOIN Classes;

 * postgresql://postgres:***@localhost/my_data
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
11 rows affected.

[(16, 515, 'Cookie Monster', datetime.date(1969, 11, 10), None, 'Cookies', 'Pop', 'Monster First Aid', 2, 'MWF', 80, Decimal('21.00'), 2, 555),
 (16, 543, 'Chewbacca', datetime.date(1977, 5, 25), 'Wookie', 'Omnivore', 'Jazz', 'Monster First Aid', 2, 'MWF', 80, Decimal('21.00'), 2, 555),
 (16, 516, 'Maleficient', datetime.date(1856, 10, 26), 'Dragon', 'Carnivore', 'Gothic', 'Monster First Aid', 2, 'MWF', 80, Decimal('21.00'), 2, 555),
 (23, 543, 'Chewbacca', datetime.date(1977, 5, 25), 'Wookie', 'Omnivore', 'Jazz', 'Intro to Guitar', 3, 'TH', 120, Decimal('14.00'), 3, 504),
 (23, 516, 'Maleficient', datetime.date(1856, 10, 26), 'Dragon', 'Carnivore', 'Gothic', 'Intro to Guitar', 3, 'TH', 120, Decimal('14.00'), 3, 504),
 (23, 618, 'Tatsu', datetime.date(2002, 4, 29), 'Nopon', 'Potatoes', 'K-Pop', 'Intro to Guitar', 3, 'TH', 120, Decimal('14.00'), 3, 504),
 (1, 515, 'Cookie Monster', datetime.date(1969, 11, 10), None, 'Cookies', 'Pop', 'How to Sell One Trillion Movie Tickets', 4, 'MWF', 120, Decimal('8.00'), 5, 666),
 (1, 543, 'Chewbacca', datetime.date(1977, 5, 25), 'Wookie', 'Omnivore', 'Jazz', 'How to Sell One Trillion Movie Tickets', 4, 'MWF', 120, Decimal('8.00'), 5, 666),
 (1, 555, 'Dracula', datetime.date(1543, 8, 15), 'Vampire', 'Blood', 'Classical', 'How to Sell One Trillion Movie Tickets', 4, 'MWF', 120, Decimal('8.00'), 5, 666),
 (1, 516, 'Maleficient', datetime.date(1856, 10, 26), 'Dragon', 'Carnivore', 'Gothic', 'How to Sell One Trillion Movie Tickets', 4, 'MWF', 120, Decimal('8.00'), 5, 666),
 (1, 618, 'Tatsu', datetime.date(2002, 4, 29), 'Nopon', 'Potatoes', 'K-Pop', 'How to Sell One Trillion Movie Tickets', 4, 'MWF', 120, Decimal('8.00'), 5, 666)]

In [ ]:
%%sql

INSERT INTO Plays(Instrument_ID, Monster_ID, Starting_Date)
 VALUES(6, 515, '1984-6-14');

INSERT INTO Plays(Instrument_ID, Monster_ID, Starting_Date)
 VALUES(34, 504, '1083-9-21');

INSERT INTO Plays(Instrument_ID, Monster_ID, Starting_Date)
 VALUES(12, 543, '1997-12-10');

INSERT INTO Plays(Instrument_ID, Monster_ID, Starting_Date)
 VALUES(29, 555, '1602-3-9');

INSERT INTO Plays(Instrument_ID, Monster_ID, Starting_Date)
 VALUES(26, 532, '2006-4-21');
INSERT INTO Plays(Instrument_ID, Monster_ID, Starting_Date)
 VALUES(34, 532, '2009-11-13');

INSERT INTO Plays(Instrument_ID, Monster_ID, Starting_Date)
 VALUES(34, 666, '1992-7-11');
INSERT INTO Plays(Instrument_ID, Monster_ID, Starting_Date)
 VALUES(12, 666, '1999-11-7');

INSERT INTO Plays(Instrument_ID, Monster_ID, Starting_Date)
 VALUES(15, 618, '2015-4-12');

SELECT * FROM Plays
JOIN Instruments ON Instruments.Instrument_ID = Plays.Instrument_ID
JOIN Monsters ON Monsters.Monster_ID = Plays.Monster_ID;

 * postgresql://postgres:***@localhost/my_data
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
9 rows affected.

[(6, 515, datetime.date(1984, 6, 14), 6, 'Piano', 'Percussion', 515, 'Cookie Monster', datetime.date(1969, 11, 10), None, 'Cookies', 'Pop'),
 (34, 504, datetime.date(1083, 9, 21), 34, 'Guitar', 'String', 504, 'Marceline', datetime.date(1056, 2, 3), 'Vampire', 'Color Red', 'Metal'),
 (12, 543, datetime.date(1997, 12, 10), 12, 'Bass', 'String', 543, 'Chewbacca', datetime.date(1977, 5, 25), 'Wookie', 'Omnivore', 'Jazz'),
 (29, 555, datetime.date(1602, 3, 9), 29, 'Violin', 'String', 555, 'Dracula', datetime.date(1543, 8, 15), 'Vampire', 'Blood', 'Classical'),
 (26, 532, datetime.date(2006, 4, 21), 26, 'Drums', 'Percussion', 532, 'Mike Wazowski', datetime.date(1994, 6, 11), None, 'Omnivore', 'Rock'),
 (34, 532, datetime.date(2009, 11, 13), 34, 'Guitar', 'String', 532, 'Mike Wazowski', datetime.date(1994, 6, 11), None, 'Omnivore', 'Rock'),
 (34, 666, datetime.date(1992, 7, 11), 34, 'Guitar', 'String', 666, 'Michael Morbius', datetime.date(1971, 4, 1), 'Vampire', 'Blood', 'Morbius OST'),
 (12, 666, datetime.date(1999, 11, 7), 12, 'Bass', 'String', 666, 'Michael Morbius', datetime.date(1971, 4, 1), 'Vampire', 'Blood', 'Morbius OST'),
 (15, 618, datetime.date(2015, 4, 12), 15, 'Flute', 'Wind', 618, 'Tatsu', datetime.date(2002, 4, 29), 'Nopon', 'Potatoes', 'K-Pop')]

#6c: Updating Data
In this section, I'd like you to run the following updates

1. MU 220 has been expanded! It can now hold 25 students, instead of 12.
2. Another semester has passed. Add 12 credits to each student's record.
3. [Another update of your choice--describe here.]

After each update please SELECT from the table to show the results.

In [ ]:
%%sql
--Update MU 220 and show results
UPDATE Locations SET Capacity = 25 
WHERE Room_Number = 220;

SELECT * FROM Locations
WHERE Room_Number = 220;

 * postgresql://postgres:***@localhost/my_data
1 rows affected.
1 rows affected.

[(3, 220, 'MU', 'Monster Union, Room 220', 25)]

In [ ]:
%%sql 
--Update student credits and show results
UPDATE Students SET Credits_Earned = Credits_Earned + 12
WHERE Students.Monster_ID NOT IN (SELECT Alumni.Monster_ID FROM Alumni);

SELECT * FROM Students
NATURAL JOIN Monsters;

 * postgresql://postgres:***@localhost/my_data
5 rows affected.
7 rows affected.

[(532, 112, Decimal('3.9'), 'Mike Wazowski', datetime.date(1994, 6, 11), None, 'Omnivore', 'Rock'),
 (609, 112, Decimal('4.0'), 'Alucard', datetime.date(1596, 9, 13), 'Vampire', 'Blood', 'Gothic'),
 (515, 88, Decimal('3.2'), 'Cookie Monster', datetime.date(1969, 11, 10), None, 'Cookies', 'Pop'),
 (543, 36, Decimal('2.6'), 'Chewbacca', datetime.date(1977, 5, 25), 'Wookie', 'Omnivore', 'Jazz'),
 (555, 124, Decimal('4.0'), 'Dracula', datetime.date(1543, 8, 15), 'Vampire', 'Blood', 'Classical'),
 (516, 75, Decimal('3.8'), 'Maleficient', datetime.date(1856, 10, 26), 'Dragon', 'Carnivore', 'Gothic'),
 (618, 24, Decimal('1.6'), 'Tatsu', datetime.date(2002, 4, 29), 'Nopon', 'Potatoes', 'K-Pop')]

In [ ]:
%%sql 
--Changed the class room location of my custom class.
UPDATE Classes SET Location_ID = 1
WHERE Class_ID = 1;

SELECT * FROM Classes
WHERE Class_ID = 1;

 * postgresql://postgres:***@localhost/my_data
1 rows affected.
1 rows affected.

[(1, 'How to Sell One Trillion Movie Tickets', 1, 'MWF', 120, Decimal('8.00'), 5, 666)]

#Part 7: SQL Queries
In this section, you'll be demonstrating your ability to retrieve data from the database you've created using SQL queries.

##7a: Simple Single table queries
Retreive a list of monsters ordered alphabetically by name. Limit your results to 5.

In [ ]:
%%sql

SELECT Name FROM Monsters
ORDER BY Name
LIMIT 5;

 * postgresql://postgres:***@localhost/my_data
5 rows affected.

[('Alucard',),
 ('Chewbacca',),
 ('Cookie Monster',),
 ('Dracula',),
 ('Maleficient',)]

##7b. Single-table queries with WHERE and LIKE
Retrieve JUST the classes that meet on Wednesday (where Wednesday is the 'W' in strings like 'MWF').

In [ ]:
%%sql

SELECT Title FROM Classes
WHERE Days LIKE '%W%';

 * postgresql://postgres:***@localhost/my_data
2 rows affected.

[('Monster First Aid',), ('How to Sell One Trillion Movie Tickets',)]

##7c. Single-table queries with aggregate functions
Retrieve the minimum, maximum, and average GPA included in your database. You should label the columns "Min GPA", "Max GPA", and "Avg GPA".

In [ ]:
%%sql 

SELECT MIN(GPA) AS "Min GPA", MAX(GPA) AS "Max GPA", ROUND(AVG(GPA),2) AS "Average GPA"
FROM Monsters
JOIN Students ON Monsters.Monster_ID = Students.Monster_ID;

 * postgresql://postgres:***@localhost/my_data
1 rows affected.

[(Decimal('1.6'), Decimal('4.0'), Decimal('3.30'))]

##7d. Single table queries with GROUP BY
Retrieve a list of each monster species included in the database, along with a count of how many monsters are members of the species.

In [ ]:
%%sql

SELECT Species, COUNT(Species)
FROM Monsters
WHERE Species IS NOT NULL
GROUP BY Species;

 * postgresql://postgres:***@localhost/my_data
4 rows affected.

[('Vampire', 4), ('Dragon', 1), ('Wookie', 1), ('Nopon', 1)]

##7e. Single-table queries with HAVING
Retrieve a list of the buildings (not rooms!) in your data that have a total capacity of more than 20. (A building's capacity is simply the sum of the capacities of all the classrooms it contains).

In [ ]:
%%sql

SELECT Building_Code
FROM Locations
GROUP BY Building_Code
HAVING SUM(Capacity) >= 20;

 * postgresql://postgres:***@localhost/my_data
3 rows affected.

[('CL',), ('DS',), ('MU',)]

##7f. Subqueries
Retrieve a list of monsters names and species, together with a count of how many members of that species are in the database.

In [ ]:
%%sql

SELECT Name, Species, (SELECT COUNT(Species) FROM Monsters S WHERE M.Species = S.Species)
FROM Monsters M
WHERE Species IS NOT NULL;

 * postgresql://postgres:***@localhost/my_data
7 rows affected.

[('Marceline', 'Vampire', 4),
 ('Chewbacca', 'Wookie', 1),
 ('Dracula', 'Vampire', 4),
 ('Maleficient', 'Dragon', 1),
 ('Michael Morbius', 'Vampire', 4),
 ('Tatsu', 'Nopon', 1),
 ('Alucard', 'Vampire', 4)]

#7g. Simple multi-table queries with JOIN
Retrieve the names and GPAs of students enrolled in Intro to Guitar.

In [ ]:
%%sql
SELECT Name, GPA
FROM Students
JOIN Monsters ON Monsters.Monster_ID = Students.Monster_ID
JOIN Enrolled ON Monsters.Monster_ID = Enrolled.Monster_ID
JOIN Classes ON Enrolled.Class_ID = Classes.Class_ID
WHERE Classes.Class_ID = 23;

 * postgresql://postgres:***@localhost/my_data
3 rows affected.

[('Chewbacca', Decimal('2.6')),
 ('Maleficient', Decimal('3.8')),
 ('Tatsu', Decimal('1.6'))]

##7h. More complex multi-table queries
Retrieve the total students taught by each teacher in the database. You should have one row of output for each teacher with their name and the total number of students.

In [ ]:
%%sql 

SELECT Monsters.Name, COUNT(Enrolled.Monster_ID) 
FROM Enrolled
JOIN Classes On Classes.Class_ID = Enrolled.Class_ID
JOIN Monsters ON Classes.Instructor_ID = Monsters.Monster_ID
WHERE Monsters.Monster_ID = Classes.Instructor_ID
GROUP BY Enrolled.Class_ID, Monsters.Monster_ID

 * postgresql://postgres:***@localhost/my_data
3 rows affected.

[('Michael Morbius', 5), ('Dracula', 3), ('Marceline', 3)]

##7i. Creation of Views
Create a VIEW based on a SQL query of your choice. Now "SELECT *" from this view to show the results.

In [ ]:
%%sql
--this view will display how many people can play a certain instrument before the year 2000.
DROP VIEW IF EXISTS Instrument_Players;
CREATE VIEW Instrument_Players AS
   SELECT Instruments.Name, COUNT(Monsters.Monster_ID)
   FROM Instruments
   JOIN Plays ON Instruments.Instrument_ID = Plays.Instrument_ID
   JOIN Monsters ON Monsters.Monster_ID = Plays.Monster_ID
   WHERE Starting_Date < '2000-1-1'
   GROUP BY Instruments.Name
   ORDER BY COUNT(Monsters.Monster_ID) DESC;

SELECT * FROM Instrument_Players;

 * postgresql://postgres:***@localhost/my_data
Done.
Done.
4 rows affected.

[('Bass', 2), ('Guitar', 2), ('Violin', 1), ('Piano', 1)]

##7g. Creation of Indexes.
Create an index on the column that contains the Monster's names.

In [ ]:
%%sql
--postgress is optimizing so it says it's a sequantial scan however, this is the correct way to make an index.
DROP INDEX IF EXISTS Monster_Names;
CREATE INDEX Monster_Names ON Monsters(Name);

EXPLAIN ANALYZE SELECT Name FROM Monsters WHERE Name = 'Dracula';

 * postgresql://postgres:***@localhost/my_data
Done.
Done.
5 rows affected.

[('Seq Scan on monsters  (cost=0.00..1.11 rows=1 width=78) (actual time=0.007..0.008 rows=1 loops=1)',),
 ("  Filter: ((name)::text = 'Dracula'::text)",),
 ('  Rows Removed by Filter: 8',),
 ('Planning time: 0.178 ms',),
 ('Execution time: 0.021 ms',)]

#8. Database Design Philosophy
In 150 to 200 words, answer the question **"What are the keys to designing a successful database, and how is this reflected in your own work here?"**

    The very first step that you should do when designing a database is 
    to know what your database needs to accomplish via business rules. For 
    this project the business rules were already there however, we had to 
    make a few of our own. When creating my business rules I wanted them 
    to be things that make sense in the context of our database. Thats why 
    I made the "credits" column in the classes table because it is 
    something that we would logically want to keep track of. My other two 
    business rules are not as much of a no-brainer choice but seemed like 
    something that was reasonable to include in a database like this and 
    wouldn't feel out of place. 

    The next part of creating a good database is making sure that tables 
    and thier relationships make sense. My first big choice in designing 
    the database was how I wanted to handle Students and Teachers. I could 
    have just had the students and teachers be in the same table and use 
    nulls for the gpa and credits earned columns for teachers. However, I 
    felt that this was not the greatest design so I made students a 
    subclass of monsters so they would inherit everything from the super 
    class but have thier own special columns for when theyre needed. The 
    layers of Monsters->Students->Alumni makes a lot of sense to me and I 
    see it as the most optimal design.

    When I was inserting data into the columns I actually had to go back 
    to redo some prior steps. For example, I originally had a first and 
    last name field in the monsters table as I wanted to split the name 
    field down to its core. However, when putting data in I realized that 
    the last name field really wasn't worth keeping so I had to go back to 
    my diagram and table creation to change it. I did a similar thing with 
    the location table. Originally, I used room number as the id however 
    later on decided that having a seperate id field would be better 
    incase there was a shared room number in the different buildings. I 
    also didn't initially have the room name attribute but added it 
    because it felt neccisary. Going back to adjust some of the table 
    constraints was also something that happened a few times. At the end 
    of the data inserting part I was very happy with my database design 
    and truly believed that it was the best I could make it.

    I wish I could say that my queries on my database were as optimal as 
    the database itself. For the simplier queries I thought they were 
    pretty good but the more complex ones could have used some more work. 
    I am mainly talking about #7H. The query works completely fine in the 
    current database however would break pretty easily with some changes. 
    If a teacher taught more than one class the query would not give the 
    total students for all the classes. I am not a SQL master so designing 
    queries doesn't come as natural to me. I tried to make the query 
    better but ultimately decided that the current one works and in terms 
    of this assignment this is all I need to do. In a real database 
    enviroment this query would absoutely need to be changed and I am sure 
    that someone more experienced than me would have a much easier time 
    fixing it.

#9. Be Creative!
In 150 to 200 words, tell me about what you've done (or will do, in this section) that goes above and beyond the "requirements" of the assignment. Why did you choose to do this? What did you learn from doing it?

    For my going above and beyond the requirements part of this project I
    chose to make a PL/SQL Function. The function that I created will tell
    you how many days it has been from now since an individual started to
    learn an instrument. This kind of function could be done using regular
    sql however, I wanted to give this PL/SQL thing a try. I chose to
    practice this because, I have a bit of experience with programming
    in Java and was wondering if that knowledge would transfer into this.
    Besides some formatting differences, writing this method was extemely
    easy for me. It is nice to know that many of the things that I am 
    learning in my Java class can be applied to all sorts of different
    languages with maybe just a little reformatting. Overall, I just think
    it is cool that SQL is able to do something like this. Having
    the capability of using the convenience of queries with the addition of
    more traditional programming abilities makes SQL a very versatile
    language that can do a lot. I'm glad that I had the chance to mess
    around with it.

In [ ]:
%%sql
--casting now() as a date will remove the time from the output.
DROP FUNCTION IF EXISTS sinceLearned;
CREATE or REPLACE FUNCTION sinceLearned(name varchar, date Date, instrumentName varchar) 
RETURNS varchar(150) AS $$
BEGIN
    RETURN 'It has been ' || CAST(NOW() AS DATE) - date || ' days since ' || name || ' started to learn how to play the ' || instrumentName || '.';
END;
$$ LANGUAGE plpgsql;

SELECT sinceLearned(Monsters.Name, Plays.Starting_Date, Instruments.Name)
FROM Instruments
   JOIN Plays ON Instruments.Instrument_ID = Plays.Instrument_ID
   JOIN Monsters ON Monsters.Monster_ID = Plays.Monster_ID;

 * postgresql://postgres:***@localhost/my_data
Done.
Done.
9 rows affected.

[('It has been 13840 days since Cookie Monster started to learn how to play the Piano.',),
 ('It has been 342825 days since Marceline started to learn how to play the Guitar.',),
 ('It has been 8913 days since Chewbacca started to learn how to play the Bass.',),
 ('It has been 153460 days since Dracula started to learn how to play the Violin.',),
 ('It has been 5859 days since Mike Wazowski started to learn how to play the Drums.',),
 ('It has been 4557 days since Mike Wazowski started to learn how to play the Guitar.',),
 ('It has been 10891 days since Michael Morbius started to learn how to play the Guitar.',),
 ('It has been 8216 days since Michael Morbius started to learn how to play the Bass.',),
 ('It has been 2581 days since Tatsu started to learn how to play the Flute.',)]

#10. Share Work With Me on Github
Finally, I'd like you to share your work with me on Github. If you are interesting in working in computer science or IT, it's good to have a basic understanding of how Github works, as its something like an industry "standard" way of sharing code. 
 
Here's what you need to do:
1. Create an account on https://github.com/ 
2. Create a PUBLIC repository called "database_sql".
3. Save your **completed** lab to this repository. From colab, all you need to do is go to "File: Save a copy in Github."

An in-depth tutorial on using Github is here:
https://docs.github.com/en/get-started/quickstart/hello-world 
The only things you need to worry about are (a) creating an account and (b) creating a repository. We won't be worry about branches, commits, or pulls (though you are free to read up on these!). 

Once you've done this, please write down your:

USERNAME: **MJBrown825**

REPOSITORY LINK: https://github.com/MJBrown825/database_sql.git 

And that's it! I've enjoyed having you in class--enjoy the rest of the semster :).

**You should also submit this to the D2L Assignment folder.**